/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

footer {
 padding-top: 1.5rem;	
}

.bar1 { width: 1%; }
.bar25 { width: 25%; }
.bar50 { width: 50%; }
.bar75 { width: 75%; }
.bar100 { width: 100%; }
.fieldset-padded { padding-left: 20px; }
.card-header-huge .btn-link { font-size: 30px; }