<h4 class="card-title">Avís important</h4>
<h6 class="card-subtitle mb-2 text-muted">Consideracions en el moment de formalitzar la matrícula.</h6>

<ul>
<li>És imprescindible presentar la documentació sol·licitada el mateix dia de la matrícula.</li>
<li>La presentació de documents caducats farà que la matrícula sigui nul·la.</li>
<li>Una matrícula amb dades falses o incompleta farà que la matrícula sigui nul·la.</li>
<li>La matrícula no serà confirmada o definitiva fins que no es formalitzi el pagament i sigui entregat a secretaria.</li	>
</ul>