<div class="btn-group float-right" role="group">
  <!-- <button type="button" class="btn btn-secondary">1</button>
  <button type="button" class="btn btn-secondary">2</button> -->

  <div class="btn-group" role="group">
    <button id="btnGroupDrop1" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Selecció ràpida
    </button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
      <a class="dropdown-item" href="#">Tot primer</a>
      <a class="dropdown-item" href="#">Tot segon</a>
      <a class="dropdown-item" href="#">Cap</a>
    </div>
  </div>
</div>