<h4 class="card-title">Documentació</h4>
<h6 class="card-subtitle mb-2 text-muted">Tota la documentació que cal presentar per formalitzar la matrícula.</h6>
<ul>
<li><strong>Dues</strong> fotografies de carnet <strong>actuals</strong> amb el nom i el cognom (una enganxada al full de la matrícula).</li>
<li>Fotocòpia del NIF, NIE, passaport o permís de residència de l'alumne/a. Els documents caducats no tenen validesa. (Si no es va presentar amb la preinscripció.). </li>
<li>Fotocòpia de la targeta sanitària de l'alumne/a. Els alumnes sense targeta sanitària no tenen dret a l'assistència sanitària escolar. (Si no es va presentar amb la preinscripció.).</li>
<li>Fotocòpia del NIF, NIE, passaport o permís de residència del pare/mare o tutor/a legal de l'alumne/a. Els documents caducats no tenen validesa. (Si no es va presentar amb la preinscripció.).</li>
<li>Resguard de pagament de les taxes de matriculació.</li>
</ul>