{% extends "layout.html" %}
{% block content %}

<div class="container">

<br>

<div class="progress">
  <div class="progress-bar bar75" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<br>

<h1>{{year}}er {{course}} <span class="badge badge-success float-right">Nova matrícula</span></h1>

  {% include "smx.html" %} 

  <br>

  <button type="submit" class="btn btn-primary float-right">Confirmació de la matrícula</button>


</div> <!-- /container -->

{% endblock %}