    <h4 class="card-title">Dades pare/mare/tutor/tutora</h4>
    <h6 class="card-subtitle mb-2 text-muted">Dades de les persones responsables.</h6>

    <!-- start row -->
    <div class="row">
      <div class="col-md-2"> 
          <div class="form-group">
            <label for="exampleFormControlSelect1">Parentesc</label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option>Mare</option>
              <option>Pare</option>
              <option>Tutora</option>
              <option>Tutor</option>
            </select>
          </div>
      </div>
      <div class="col-md-2"> 
        <div class="form-group">
          <label class="col-form-label" for="dni_nie">DNI o NIE</label>
          <input type="text" class="form-control" name="dni_nie" id="dni_nie" placeholder="DNI o NIE">
        </div>

      </div>
      <div class="col-md-4"> 
        <div class="form-group">
          <label class="col-form-label" for="name">Nom</label>
          <input type="text" class="form-control" name="name" id="name" placeholder="Nom">
        </div>

        </div>

        <div class="col-md-4"> 
        <div class="form-group">
          <label class="col-form-label" for="surnames">Cognoms</label>
          <input type="text" class="form-control" name="surnames" id="surnames" placeholder="Cognoms">
        </div>
        </div>
    </div> <!-- End row --> 


    <!-- start row -->
    <div class="row">
      <div class="col-md-4"> 
        <div class="form-group">
          <label class="col-form-label" for="email">Email</label>
          <input type="email" class="form-control" name="email" id="email" placeholder="name@example.com">
        </div>
      </div>
      
      <div class="col-md-4"> 
        <div class="form-group">
          <label class="col-form-label" for="phone">Telèfon fix</label>
          <input type="text" class="form-control" name="phone" id="phone" placeholder="Telèfon fix">
        </div>
      </div>
      
      <div class="col-md-4"> 
        <div class="form-group">
          <label class="col-form-label" for="mobile">Telèfon mòbil</label>
          <input type="text" class="form-control" name="mobile" id="mobile" placeholder="Telèfon mòbil">
        </div>
      </div>
    </div><!-- End row --> 
