{% extends "layout.html" %}
{% block content %}

<div class="container">

<br>

<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<br>


<div class="card">
    <div class="card-body">
  {% include "selector-curs.html" %} 
    </div>
</div>

<form method="post" action="/pre">

  <div class="card">
    <div class="card-body">
      {% include "student-data.html" %} 
    </div>
  </div>

  <div class="card">
    <div class="card-body">
    {% include "parents-data.html" %} 
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      {% include "avis-important.html" %} 
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      {% include "documentacio.html" %} 
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Tens correu del centre?</h4>
      <h6 class="card-subtitle mb-2 text-muted">Enviament de correu de verificació.</h6>
      <p><a href="{{ path_for('pre-enrollment-new-student') }}" class="card-link">No tinc correu del centre.</a></p>
      <p><a href="{{ path_for('pre-enrollment-old-student') }}" class="card-link">Tinc correu del centre.</a></p>
      <p><a href="{{ path_for('pre-enrollment-new-student') }}" class="card-link">Tinc correu del centre, però no recordo la contrassenya.</a></p>
    </div>
  </div>

	</form>
</div> <!-- /container -->

{% endblock %}