
    <div class="row">
    <div class="col-sm-2">
      <h5>Tipus de matrícula</h5>
    </div>
    <div class="col-sm-10">
      <fieldset class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="enrollment-type" value="complete" checked>
          <label class="form-check-label">
            Matrícula de curs complet.
          </label>
        </div>

<!-- START SELECTOR 1er o 2on -->
        <fieldset class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="course-enrollment-selector" value="all-first-course" checked>
            <label class="form-check-label">
              Tot el primer curs.
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="radio" name="course-enrollment-selector" value="all-second-course">
            <label class="form-check-label">
              Tot el segon curs.
            </label>
          </div>

        </fieldset>
<!-- END SELECTOR 1er o 2on -->

        <div class="form-check">
          <input class="form-check-input" type="radio" name="enrollment-type" value="partial">
          <label class="form-check-label">
            Matrícula parcial (només algunes UFs).
          </label>
        </div>

      </fieldset>
    </div>
  </div>