<div class="row">
  <!-- Gestió Administrativa (GA) -->
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><strong>Gestió Administrativa (GA)</strong></h5>
        <p class="card-text">INS Puig Castellar</p>
        <form method="post" action="{{ path_for('matricula-2') }}">
          <input type="hidden" name="course" value="GA"/>
          <button class="btn btn-primary float-right">Matrícula</button>
        </form>
      </div>
    </div>
  </div>
  <!-- Sistemes Microinformàtics i Xarxes (SMX) -->
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><strong>Sistemes Microinformàtics i Xarxes (SMX)</strong></h5>
        <p class="card-text">INS Puig Castellar</p>
        <form method="post" action="{{ path_for('matricula-2') }}">
          <input type="hidden" name="course" value="SMX"/>
          <button class="btn btn-primary float-right">Matrícula</button>
        </form>
      </div>
    </div>
  </div>
</div>

