<h5><strong>Alumnes/as nous/noves</strong></h5>
<div class="row">
	<div class="col-md-3">
		<div class="card">
		  <div class="card-body">
		    <h5 class="card-title"><strong>1er ESO</strong></h5>
		    <p class="card-text">INS Puig Castellar</p>
		    <a href="#" class="btn btn-primary float-right">Matrícula</a>
		  </div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="card">
		  <div class="card-body">
		    <h5 class="card-title"><strong>2on ESO</strong></h5>
		    <p class="card-text">INS Puig Castellar</p>
		    <a href="#" class="btn btn-primary float-right">Matrícula</a>
		  </div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="card">
			<div class="card-body">
		    <h5 class="card-title"><strong>3er ESO</strong></h5>
		    <p class="card-text">INS Puig Castellar</p>
		    <a href="#" class="btn btn-primary float-right">Matrícula</a>
		  </div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="card">
			<div class="card-body">
		    <h5 class="card-title"><strong>4rt ESO</strong></h5>
		    <p class="card-text">INS Puig Castellar</p>
		    <a href="#" class="btn btn-primary float-right">Matrícula</a>
		  </div>
		</div>
	</div>
</div>