<fieldset class="form-group fieldset-padded">
  <div class="form-check">
    <input class="form-check-input" type="radio" name="modality" value="option1" checked>
    <label class="form-check-label">
      Via 1 (Cientificotènica)
    </label>
  </div>

  <div class="form-check">
    <input class="form-check-input" type="radio" name="modality" value="option1" >
    <label class="form-check-label">
      Via 2 (Ciències de la salut)
    </label>
  </div>

  <div class="form-check">
    <input class="form-check-input" type="radio" name="modality" value="option2">
    <label class="form-check-label">
      Via 3 (Humanitats)
    </label>
  </div>

  <div class="form-check ">
    <input class="form-check-input" type="radio" name="modality" value="option3" > <!-- disabled -->
    <label class="form-check-label">
      Via 4 (Ciències socials)
    </label>
  </div>

   <div class="form-check ">
    <input class="form-check-input" type="radio" name="modality" value="option3" > <!-- disabled -->
    <label class="form-check-label">
      Via 3/4 (Humanitats i Ciències socials)
    </label>
  </div>
</fieldset>