{% extends "layout.html" %}
{% block content %}
<div class="container">

 <form method="post" action=""> 


    <div class="row">
    <div class="col-sm-2">
      <h5>Tipus de matrícula</h5>
    </div>
    <div class="col-sm-10">
      <fieldset class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="enrollment-type" value="option1" checked>
          <label class="form-check-label">
            Matrícula de curs complet.
          </label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="radio" name="enrollment-type" value="option2">
          <label class="form-check-label">
            Matrícula parcial (només algunes UFs).
          </label>
        </div>

      </fieldset>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-2">
      <h5>Bonificacions (màxim una)</h5>
    </div>
    <div class="col-sm-10">
      <fieldset class="form-group">

        <div class="form-check">
          <input class="form-check-input" type="radio" name="bonus" value="option1" checked>
          <label class="form-check-label">
            Sense bonificacions.
          </label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="radio" name="bonus" value="option1" >
          <label class="form-check-label">
            Família nombrosa categoria general.
          </label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="radio" name="bonus" value="option2">
          <label class="form-check-label">
            Família monoparental.
          </label>
        </div>

        <div class="form-check "> <!-- disabled -->
          <input class="form-check-input" type="radio" name="bonus" value="option3" > <!-- disabled -->
          <label class="form-check-label">
            En el curs acadèmic inmediatament anterior obtenció d'una beca o ajut a l'estudi del Ministeri d'Educació, Cultura i Esport.
          </label>
        </div>
      </fieldset>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2">
      <h5>Excepcions (màxim una)</h5>
    </div>
    <div class="col-sm-10">
      <fieldset class="form-group">

        <div class="form-check">
          <input class="form-check-input" type="radio" name="exception" value="option1" checked>
          <label class="form-check-label">
            Sense excepcions.
          </label>
        </div>


        <div class="form-check">
          <input class="form-check-input" type="radio" name="exception" value="option1" >
          <label class="form-check-label">
            Família nombrosa categoria especial.
          </label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="radio" name="exception" value="option2">
          <label class="form-check-label">
            Persones que poseeixen la declaració legal de minusvalidesa en un grau igual o superior al 33%.
          </label>
        </div>

        <div class="form-check "> <!-- disabled -->
          <input class="form-check-input" type="radio" name="exception" value="option3" > <!-- disabled -->
          <label class="form-check-label">
            Les persones subjectes a mesures privatives de llibertat.
          </label>
        </div>
      </fieldset>
    </div>
  </div>

    <div class="row">
    <div class="col-sm-2">
      <h5>Fraccionament del pagament</h5>
    </div>
    <div class="col-sm-10">
      <fieldset class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="fraction" value="option1" checked>
          <label class="form-check-label">
            No, abonaré l'import total en un únic pagament.
          </label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="radio" name="fraction" value="option2">
          <label class="form-check-label">
            Sí, abonaré el 50% en el moment de la matrícula, i el 50% restant de l'1 al 6 de setembre.
          </label>
        </div>

      </fieldset>
    </div>
  </div>

</form>

  <div class="card">
    
    <div class="card-body">
      <h4 class="card-title">Sistemes microinformàtics i Xarxes</h4>
     
      <form method="post" action="">  




    <div class="row">

    <div class="col-sm">

{% for course in courses %} 
  <h6 class="card-subtitle mb-2 text-muted">{{course['name']}}</h6>
    
        <table class="table">
        <tbody>
        {% for module in course['modules'] %}
          <tr>
            <th scope="row">{{module['code']}}</th>
            <td>Mòdul {{module['id']}}</td>
            <td>{{module['name']}}</td>
            
            <td>

          {% for i in 1..module['nufs'] %}
            <div class="form-check form-check-inline {% if module['id'] < 5 %} disabled {% endif %}">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="" 
                  {% if module['id'] < 5 %} 
                  disabled {% endif %}>
                UF{{ i }}
              </label>
            </div>
            {% endfor %}
<!-- <a href="#" class="card-link badge badge-light">Seleccionar totes</a>  -->
            </td>

          </tr>
          {% endfor %}
          </tbody>
        </table>
{% endfor %}
        
 
  </div>



  </div>




        <!-- <div class="form-check disabled ">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" value="" disabled>
            Option two is disabled
          </label>
        </div> -->

        <button type="submit" class="btn btn-primary float-right">Confirmació de la matrícula</button>
      </form>
    </div>
  </div>

</div> <!-- /container -->
{% endblock %}