
		<h4 class="card-title">Dades personals</h4>
      	<h6 class="card-subtitle mb-2 text-muted">Completa el formulari amb les teves dades.</h6>

      
      <!-- start row -->
      <div class="row">
       <div class="col-md-4"> 
       <div class="form-group">
          <label class="col-form-label" for="dni_nie">DNI o NIE</label>
          <input type="text" class="form-control" name="dni_nie" id="dni_nie" placeholder="DNI o NIE">
        </div>

        </div>

        <div class="col-md-4"> 
        <div class="form-group">
          <label class="col-form-label" for="name">Nom</label>
          <input type="text" class="form-control" name="name" id="name" placeholder="Nom">
        </div>

        </div>

        <div class="col-md-4"> 
        <div class="form-group">
          <label class="col-form-label" for="surnames">Cognoms</label>
          <input type="text" class="form-control" name="surnames" id="surnames" placeholder="Cognoms">
        </div>
        </div>
        </div> <!-- End row --> 

      <!-- start row -->
      <div class="row">
       <div class="col-md-4"> 
        <div class="form-group">
          <label class="col-form-label" for="nacionality">Nacionalitat</label>
          <input type="text" class="form-control" name="nacionality" id="nacionality" placeholder="Nacionalitat">
        </div>
       </div>
       <div class="col-md-4"> 
         <div class="form-group">
            <label class="col-form-label" for="bornPlace">Lloc de naixement</label>
            <input type="text" class="form-control" name="bornPlace" id="bornPlace" placeholder="Lloc de naixement">
          </div>
          
       </div>
       <div class="col-md-4"> 
        <div class="form-group">
          <label class="col-form-label" for="born">Data de naixement</label>
          <input type="text" class="form-control" name="born" id="born" placeholder="Data de naixement">
        </div>
       </div>
       </div> <!-- End row --> 

       <!-- start row -->
       <div class="row">
        <div class="col-md-4"> 
        <div class="form-group">
          <label class="col-form-label" for="address">Adreça</label>
          <input type="text" class="form-control" name="address" id="address" placeholder="Adreça">
        </div>
        </div>
        <div class="col-md-4"> 
        <div class="form-group">
          <label class="col-form-label" for="town">Població</label>
          <input type="text" class="form-control" name="town" id="town" placeholder="Població">
        </div>
        </div>
        <div class="col-md-4"> 
        <div class="form-group">
          <label class="col-form-label" for="postal">Codi Postal</label>
          <input type="text" class="form-control" name="postal" id="postal" placeholder="Codi Postal">
        </div>
        </div>
       </div> <!-- End row --> 

              <!-- start row -->
       <div class="row">
        <div class="col-md-4"> 
        <div class="form-group">
          <label class="col-form-label" for="email">Email</label>
          <input type="email" class="form-control" name="email" id="email" placeholder="name@example.com">
        </div>
        </div>
        <div class="col-md-4"> 
        <div class="form-group">
          <label class="col-form-label" for="phone">Telèfon fix</label>
          <input type="text" class="form-control" name="phone" id="phone" placeholder="Telèfon fix">
        </div>
        </div>
        <div class="col-md-4"> 
        <div class="form-group">
          <label class="col-form-label" for="mobile">Telèfon mòbil</label>
          <input type="text" class="form-control" name="mobile" id="mobile" placeholder="Telèfon mòbil">
        </div>
        </div>
        </div><!-- End row --> 
        
        

        <!-- <button type="submit" class="btn btn-primary float-right">Continuar</button> -->

  